.App {
  text-align: center;
}
.form {
  width: 60%;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.mb-3{
  width: 70%;
  margin-right: 10px;
}
.todo{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.modal-form{
  padding: 20px 30px;
}
.group{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 80%;
}